@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>Создать MVC веб-приложение, состоящее с нескольких форм:</div>
    <div>/user/create - форма создания нового пользователя</div>
    <div>/user/get - форма получения данных текущего пользователя</div>
    <div>/user/update - форма редактирования данных текущего пользователя</div>
    <div>/user/login - форма аутентификации</div>
</div>